.window {
  padding: 12px 0;
  // border-bottom: 1px solid #ccc;
  // &:last-child {
  //   border-bottom: none;
  // }
  &:not(.focused) {
    // opacity: 0.5 !important;
    // filter: blur(1px);
  }
  &:hover {
    // opacity: 1 !important;
    // filter: blur(0px);
  }
  // transition: filter 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.window.focused .window-title {
  font-weight: bold;
}

.window-title-container {
  display: flex;
  align-items: center;
  padding: 0 var(--left-space);
  gap: var(--left-space);
  margin-bottom: 4px;
}

.window-title-line {
  flex-grow: 1;
  height: 1px;
  border-bottom: 1px solid #ccc;
}

.tab {
  overflow-y: hidden;
  display: flex;
  align-items: center;
  height: var(--tab-height);
  padding: 0 var(--left-space);
  transition: height $height-transition;
}

.tab-active {
  background-color: rgb(from yellow r g b / 30%);
}

.tab-favicon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.tab-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}

.tab-close-icon {
  margin-left: auto;
  cursor: pointer;
  display: none;
  opacity: 0.3;
  font-weight: bold;
}

.tab-group-header {
  display: flex;
  align-items: center;
  background-color: var(--color);
  padding: 2px var(--left-space);
  // border-top-left-radius: 4px;
  color: rgb(from var(--text-color-inverted) r g b / 100%);
}

.tab-group-title {
  font-weight: bold;
}

.tab-group {
  overflow-x: hidden;
  margin: 4px 0 4px var(--left-space);
  background-color: rgb(from var(--color) r g b / 10%);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: 2px var(--color) solid;
  .tab {
    // border-left: 2px var(--color) solid;
    padding-left: 4px;
    // &:last-child {
    //   border-bottom-left-radius: 4px;
    // }
  }
  transition: height $height-transition, margin $height-transition;
}

#windows-container:not(.dragging) {
  .tab {
    &:hover {
      background-color: rgb(from var(--text-color) r g b / 10%);
    }
  }
  .tab:hover, .tab-group-header:hover {
    > .tab-close-icon {
      display: block;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.search-mode {
  .tab {
    height: 0;
  }
  .tab.focused {
    height: var(--tab-height);
  }
  .tab-group:not(:has(.tab.focused)) {
    height: 0;
    margin: 0;
  }
}
