$height-transition: 0.2s ease-in-out;

#root {
  --controls-height: 60px;
  --tab-height: 20px;
  --left-space: 10px;
}

// color definitions
#root {
  --text-color: rgba(0, 0, 0, 0.87);
  --text-color-inverted: rgba(255, 255, 255, 0.87);
  --background-color: #fff;
  --grey: #606367;
  --blue: #3871e0;
  --red: #c84031;
  --yellow: #eeae3c;
  --green: #3c7e40;
  --pink: #bf3082;
  --purple: #9648eb;
  --cyan: #357981;
  --orange: #ec9550;
  color: var(--text-color);
  @media (prefers-color-scheme: dark) {
    --text-color: rgba(255, 255, 255, 0.87);
    --text-color-inverted: rgba(0, 0, 0, 0.87);
    --background-color: #1e1e1e;
    --grey: #d5d7db;
    --blue: #7fabf7;
    --red: #f08077;
    --yellow: #fdd058;
    --green: #76c28a;
    --pink: #ff80c4;
    --purple: #bd7ff8;
    --cyan: #6dd4e9;
    --orange: #fca365;

  }
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: hidden;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);

  height: 100vh;
  display: flex;
  flex-direction: column;
}

#root, .window {
  width: 100%;
  box-sizing: border-box;
}

.controls-container {
  height: var(--controls-height);
  flex: 0 0 auto;
  border-bottom: 2px solid var(--text-color);
}

.windows-container {
  flex-grow: 1;
  overflow-y: auto;
}

.footer-container {
  height: 40px;
  padding: 0 var(--left-space);
  background-color: rgb(from var(--text-color) r g b / 10%);
  display: flex;
  align-items: center;
}

.window {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border-bottom: none;
  }
}

.tab {
  overflow-y: hidden;
  display: flex;
  align-items: center;
  height: var(--tab-height);
  padding: 0 var(--left-space);
  &:hover {
    background-color: rgb(from var(--text-color) r g b / 10%);
  }
  transition: height $height-transition;
}

.tab-active {
  background-color: rgb(from yellow r g b / 30%);
}

.tab-favicon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.tab-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}

.tab-close-icon {
  margin-left: auto;
  cursor: pointer;
  display: none;
  opacity: 0.3;
  font-weight: bold;
}

.tab:hover, .tab-group-header:hover {
  > .tab-close-icon {
    display: block;
    &:hover {
      opacity: 1;
    }
  }
}

.tab-group-header {
  display: flex;
  align-items: center;
  background-color: var(--color);
  padding: 2px var(--left-space);
  border-top-left-radius: 4px;
  color: rgb(from var(--text-color-inverted) r g b / 100%);
}

.tab-group-title {
  font-weight: bold;
}

.tab-group {
  overflow-y: hidden;
  margin: 4px 0 4px var(--left-space);
  background-color: rgb(from var(--color) r g b / 10%);
  .tab {
    border-left: 2px solid;
    padding-left: 4px;
    &:last-child {
      border-bottom-left-radius: 4px;
    }
  }
  transition: height $height-transition;
}

.search-mode {
  .tab {
    height: 0;
  }
  .tab.focused {
    height: var(--tab-height);
  }
  .tab-group:not(:has(.tab.focused)) {
    height: 0;
  }
}
